[workspace]
channels = [
    "conda-forge",
    "https://prefix.dev/pixi-build-backends",
    "https://prefix.dev/conda-forge",
]
platforms = ["osx-arm64", "linux-64"]
preview = ["pixi-build"]


[dependencies]
python = "==3.11"
python_abi = "3.11.*"
prettymol = { path = "." }
ffmpeg-python = "*"
ffmpeg = "*"
# ipython = "*"
jupyter = ">=1.1.1,<2"
opencv = "*"
numpy = "<2"
# pip = "*
pytest = "*"
quarto = ">=1.6.40,<2"
rdkit = "*"


[pypi-dependencies]
geonodes = { git = "https://github.com/zachcp/geonodes", rev = "main" }
biotite = ">=1.1"
blender_notebook = "*"
bpy = "*"
databpy = "*"
molecularnodes = "*"
blendersynth = ">=0.3.0, <0.4"

[package]
name = "prettymol"
version = "0.2"


[package.build]
backend = { name = "pixi-build-python", version = "*" }

[package.host-dependencies]
hatchling = "==1.26.3"
python = "==3.11"

[package.run-dependencies]
python = "==3.11"


[tasks]
clear-kernels = "rm -rf ~/Library/Jupyter/kernels/*"
docs-preview = "quarto preview docs"
docs-build = "quarto render docs"
install-repl = "blender_notebook install --blender-exec=\"/Applications/Blender.app/Contents/MacOS/Blender\""
jupyter = "jupyter lab"
remove = "rm -rf /Applications/Blender.app/Contents/Resources/4.3/python"
test-prettymol-render = "prettymol render --code 1FAP --output prettymol.png"
test-prettymol-grow = "prettymol grow --code 1FAP --output prettymol_grow"
